[Desktop Entry]
Version=1.0
Name=cppreference
Comment=cppreference
Exec=omarchy-launch-webapp https://cppreference.com/
Terminal=false
Type=Application
Icon=/home/nuts/.local/share/applications/icons/cppreference.png
StartupNotify=true
