@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}


.modules-left,
.modules-center,
.modules-right {
  background-color: @background;
  border-radius: 25px;
  padding: 0px 5px;
  margin: 1px 5px;
  min-height: 20px;
}

.modules-left {
  margin-left: 5px;
}

.modules-right {
  margin-right: 5px;
}

window#waybar {
  background: transparent;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
  padding: 0;
  margin: 0;
  transition: .5s;
}

mpris.empty {
  background: transparent;
  padding: 0;
  margin: 0;
}

#workspaces {
  background-color: alpha(@foreground, .05);
  border: none;
  padding: 0px;
  margin: 5px 6px;
  margin-right: 0px;
  border-radius: 15px;
}


#workspaces button {
  padding: 0px 8px;
  margin: 0px 2px;
  color: @background;
  border-radius: 15px;
  background-color: alpha(@foreground, .4);
}

#workspaces button.active {
  padding: 0px 8px;
  margin: 0px 2px;
  background: @foreground;
  color: @background;
  border-radius: 15px;
  opacity: 1;
}

#workspaces button.empty {
  opacity: 0.2;
}

#workspaces button.empty.active {
  opacity: 0.75;
}

#workspaces button.active:hover,
#workspaces button:hover {
  background-color: alpha(@foreground, .3);
  color: @background;
  opacity: 1;
  transition: .7s;
}

#custom-weather,
#memory,
#mpris,
#window,
#tray-expander,
#clock,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator,
#custom-update {
  background-color: alpha(@foreground, 0.1);
  font-weight: bold;
  padding: 5px 12px;
  margin: 5px 0;
  border-radius: 0;
}

#mpris:hover,
#window:hover,
#clock:hover,
#backlight:hover,
#cpu:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-screenrecording-indicator:hover,
#custom-idle-indicator:hover,
#custom-notification-silencing-indicator:hover,
#custom-update:hover {
  background-color: alpha(@foreground, .2);
  transition: .7s;
}

#custom-expand-icon {
  margin-right: 7px;
  padding: 0px 10px;
  border-radius: 15px;
}

#tray,
#memory,
#custom-weather {
  background-color: transparent;
  margin: 5px;
  padding: 0 2px;
}

#custom-update,
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  font-size: 14px;
  border-radius: 15px;
  padding: 0 11px 0 10px;
  margin-left: 2px;
  margin-right: 0px;
}

#clock {
  border-radius: 15px;
  padding: 0 15px;
  margin: 5px 0px;
  background-color: transparent;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator.active,
#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-omarchy,
#battery {
  background-color: @foreground;
  color: @background;
  min-width: 10px;
  border-radius: 15px;
  padding: 0 8px;
  margin: 5px 0 5px 0px;
}

#battery {
  font-weight: bold;
  margin-left: 5px;
}

#mpris,
#window {
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 0px;
}

#window {
  margin-left: 5px;
}

#tray-expander {
  padding: 0 0 0 1px;
  margin-left: 0px;
  border-radius: 15px;
  background-color: transparent;
}

#backlight {
  background-color: alpha(@foreground, .1);
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
}

#network {
  border-radius: 15px 0 0 15px;
}

#cpu {
  padding: 0 15px 0 10px;
  border-radius: 0 15px 15px 0;
  margin-right: 0px;
}

#pulseaudio {
  padding: 0 15px 0 10px;
}

tooltip {
  border-radius: 15px;
  background: @background;
  border: 2px solid alpha(@foreground, .5);
}

/* #battery.critical { */
/*   color: #ff0000; */
/*   animation-name: blink; */
/*   animation-duration: 1s; */
/*   animation-timing-function: linear; */
/*   animation-iteration-count: infinite; */
/*   animation-direction: alternate; */
/* } */
/**/
/* @keyframes blink { */
/*   to { */
/*     opacity: 0.3; */
/*   } */
/* } */

#battery.warning {

  color: #0e98ba;
}

#battery.critical {
  color: #990f02;
}


#battery.enough {
  color:
    #32CD32;
}
