[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ChatGPT
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=cadlkienfkclaiaibeoongdcgmdikeeg
Icon=brave-cadlkienfkclaiaibeoongdcgmdikeeg-Default
StartupWMClass=crx_cadlkienfkclaiaibeoongdcgmdikeeg
