[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Desmos | Graphing Calculator
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=jdilmifebbonejipfhkdekeifdlimcka
Icon=brave-jdilmifebbonejipfhkdekeifdlimcka-Default
StartupWMClass=crx_jdilmifebbonejipfhkdekeifdlimcka
