[Desktop Entry]
Name=cliamp
GenericName=Music Player
Comment=A retro terminal music player inspired by Winamp 2.x
Exec=ghostty -e cliamp /home/shubham-mamodiya/Music/
Icon=cliamp
Terminal=flase
Type=Application
Categories=Audio;Music;Player;AudioVideo;ConsoleOnly;
Keywords=music;audio;player;terminal;tui;winamp;radio;podcast;
StartupNotify=false
