[Desktop Entry]
Version=1.0
Name=Neovim
Comment=Edit text files
# Exec=alacritty --config-file /home/shubham-mamodiya/.config/alacritty/pane.toml --class=Neovim --title=Neovim -e nvim %F
Exec=ghostty -e nvim %F
Terminal=false
Type=Application
Icon=nvim
Categories=Utilities;TextEditor;
MimeType=text/plain;
StartupNotify=false
